    /* common */
    .btn {display: inline-block;}
    .btn a {position: relative; display: flex; align-items: center; padding: 20px; font-size: 18px; font-weight: 500; letter-spacing: 1px;}
    .btn a::before {content: ''; position: absolute; left: 0; display: inline-block; width: 48px; height: 48px; border-radius: 50%; opacity: 0.3; transition: 0.3s;}
    .btn:hover a::before {width: 100px; height: 100px;}

    /* header */
    header {height: 180px;}
    header .gnb {height: 180px;}
    header .gnb h1 {left: 60px;}
    header .gnb h1 a {width: 134px; height: 59px;}

    header .gnb .gnbBtn {right: 60px; width: 80px; height: 80px;}

    header .menuOpen .menuList {left: 60px;}
    header .menuOpen .menuList li + li {margin-top: 100px;}
    header .menuOpen .menuList li span {font-size: 100px; letter-spacing: 8px; -webkit-text-stroke: 3px #fff; color: #111;}
    
    /* footer */
    .float_mark {right: -100px; bottom: -100px;}
    .float_mark::before {width: 280px; height: 280px; }

    /* intro */
    .intro {padding: 50px 0;}
    .intro .tit{overflow: hidden; width: 100%; justify-content: center;}
    .intro .tit span + span {margin-left: -10px;}
    .intro .tit .before {padding-left: 0; top: -600px; font-size: 160px;}
    .intro .tit .after {left: -100%; margin-left: 10px; font-size: 160px;}
    .intro .detail {width: 100%;}
    .intro .detail .msgTxt {margin-left: -194px; min-width: 725px; height: 468px; font-size: 36px;}

    /* pfList */
    .pfList {display: block; padding: 100px 0;}
    .pfList li {position: relative; overflow: hidden; margin-top: 0; width: 100%; height: 671px;}
    .pfList li + li {margin-top: 40px; margin-left: 0;}
    .pfList .imgWrap {overflow: hidden; height: 100%}
    .pfList .imgWrap img {min-width: 1200px; height: 100%;}

    /* contact */
    .contact {padding: 70px 0 180px;}
    .contact .txt {margin-bottom: 60px; font-size: 48px;}
    .contact .infoTxt li {font-size: 48px;}
    .contact .infoTxt li a::after {margin-top: 10px; height: 3px;}
    .contact .infoTxt li + li {margin-top: 20px;}

    .contact .circlePulse span {width: 50px; height: 50px;}

    .contact .circlePulse span:nth-child(1) {top: 100px; left: 300px;}
    .contact .circlePulse span:nth-child(2) {top: 490px; left: 130px;} 
    .contact .circlePulse span:nth-child(3) {top: 300px; left: 500px;} 
    .contact .circlePulse span:nth-child(4) {top: 10px; left: 600px;}
    .contact .circlePulse span:nth-child(5) {top: 250px; left: 50px;}

    /*
    subpage
    */

    /* about */
    .about {display: block; padding-bottom: 120px;}
    .about .imgWrap {width: 100%; height: 700px;}
    .about .imgWrap .img {width: 100%; padding-top: calc(700/858 * 100%);}

    .about .title {position: relative; top: -70px; left: 60px; width: 100%;}
    .about .title p {position: relative; left: -100%; margin-top: 0; font-size: 120px;}
    .about .title p::before {top: 50px; left: 300px; font-size: 160px;}

    .about .txtWrap {width: 100%;}
    .about .txtWrap .subTxt {margin: 0 0 0 70px;}
    .about .txtWrap .subTxt dt {margin: 0 0 60px; font-size: 40px;}
    .about .txtWrap .subTxt dd {font-size: 32px;}
    .about .txtWrap .subTxt dd br {display: none;}
    .about .txtWrap .subTxt dd + dd {margin-top: 50px;}

    /* contact */
    .sub.contact {display: block; padding: 180px 60px 140px;}
    .sub.contact > h2 {position: relative; left: -110px; margin-top: 60px; font-size: 130px; letter-spacing: 4px; transform: rotate(0);}
    .sub.contact .txtWrap {overflow: hidden; width: 100%; margin: 100px 0 0 60px;}
    .sub.contact .txtWrap .subTxt {position: relative; right: -100%; width: 85%;}
    .sub.contact .txtWrap .txt li {font-size: 32px; font-weight: 200; color: #fff;  opacity: 0.7; line-height: 1.5;}
    .sub.contact .txtWrap .txt li + li {margin-top: 50px;}
    .sub.contact .txtWrap .infoTxt {margin-bottom: 180px;}
    .sub.contact .txtWrap .infoTxt li {font-size: 64px;}
    .sub.contact .txtWrap .copyright {font-size: 28px;}

    /* portfolio */
    .portfolio > .tit {display: block; padding: 50px 0 10px; width: 100%; height: 100%;}
    .portfolio > .tit h2 {font-size: 130px; letter-spacing: 8px; transform: rotate(0);}

    /* portfolio_detailpage */
    .pfDetail .subVisual .imgWrap {width: 100%;}
    .pfDetail .subVisual .imgWrap img {min-width: 1920px;}

    .pfDetail .subVisual .overviewTxt {margin: 100px 0; padding-left: 0; width: 100%;}
    .pfDetail .subVisual .overviewTxt p {margin-top: 60px; width: 90%; font-size: 36px;}

    .pfDetail .subVisual .overviewTxt .linkList {margin-top: 120px;}
    .pfDetail .subVisual .overviewTxt .linkTxt {width: 48%;}
    .pfDetail .subVisual .overviewTxt .linkTxt + .linkTxt {margin-left: 2%;}
    .pfDetail .subVisual .overviewTxt .linkTxt dt {font-size: 32px;}
    .pfDetail .subVisual .overviewTxt .linkTxt dd {margin-top: 20px; font-size: 32px; letter-spacing: 0.5px;}